.cover__wrapper {
  padding-bottom: 50%;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .cover__wrapper {
    padding-bottom: 65.11%;
  }
}

@media screen and (max-width: 767px) {
  .cover__wrapper {
    padding-bottom: 72.53%;
  }
}

@media screen and (max-width: 374px) {
  .cover__wrapper {
    padding-bottom: 67.5%;
  }
}
