.footer__copyright {
  margin: 0;
  transform: translate(0, 4px);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    transform: none;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 48px;

    text-align: initial;
  }
}
