.photo-grid__item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .photo-grid__item {
    margin-top: 16px;
  }

  .photo-grid__item:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 374px) {
  .photo-grid__item {
    margin-top: 8px;
  }
}
